dist/
.idea/
ff
not_gitmodules.egg-info/
setup.py
*.pyc
__pycache__/
/notgitmodules.yaml
/build/
/my_gitmodules/
/manual_test.py
/dev/config.yaml
/config.yaml
/dev/my_gitmodules/
/dev/my_libs/
venv/

